practica1/ims.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
 targetNamespace="http://tempuri.org/ims.xsd/Service.wsdl"
 xmlns:tns="http://tempuri.org/ims.xsd/Service.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ims="http://tempuri.org/ims.xsd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://tempuri.org/ims.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ims="http://tempuri.org/ims.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="Message"><!-- Message -->

   <sequence>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- Message::name -->
     <element name="msg" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- Message::msg -->
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="sendMessage">
   <complexType>
    <sequence>
     <element name="myMessage" type="ims:Message" minOccurs="1" maxOccurs="1"/><!-- ims__sendMessage::myMessage -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="sendMessageResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__sendMessage::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="receiveMessage">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="receiveMessageResponse">
   <complexType>
    <sequence>
     <element name="myMessage" type="ims:Message" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__receiveMessage::myMessage -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addUser">
   <complexType>
    <sequence>
     <element name="nick" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__addUser::nick -->
     <element name="pass" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__addUser::pass -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="addUserResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__addUser::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="userLogin">
   <complexType>
    <sequence>
     <element name="nick" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__userLogin::nick -->
     <element name="pass" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__userLogin::pass -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="userLoginResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__userLogin::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addFriend">
   <complexType>
    <sequence>
     <element name="user" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__addFriend::user -->
     <element name="friend-nick" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__addFriend::friend_nick -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="addFriendResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__addFriend::result -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="sendMessageRequest">
 <part name="parameters" element="ims:sendMessage"/><!-- ims__sendMessage::ims__sendMessage -->
</message>

<message name="sendMessageResponse">
 <part name="parameters" element="ims:sendMessageResponse"/>
</message>

<message name="receiveMessageRequest">
 <part name="parameters" element="ims:receiveMessage"/><!-- ims__receiveMessage::ims__receiveMessage -->
</message>

<message name="receiveMessageResponse">
 <part name="parameters" element="ims:receiveMessageResponse"/>
</message>

<message name="addUserRequest">
 <part name="parameters" element="ims:addUser"/><!-- ims__addUser::ims__addUser -->
</message>

<message name="addUserResponse">
 <part name="parameters" element="ims:addUserResponse"/>
</message>

<message name="userLoginRequest">
 <part name="parameters" element="ims:userLogin"/><!-- ims__userLogin::ims__userLogin -->
</message>

<message name="userLoginResponse">
 <part name="parameters" element="ims:userLoginResponse"/>
</message>

<message name="addFriendRequest">
 <part name="parameters" element="ims:addFriend"/><!-- ims__addFriend::ims__addFriend -->
</message>

<message name="addFriendResponse">
 <part name="parameters" element="ims:addFriendResponse"/>
</message>

<portType name="ServicePortType">
 <operation name="sendMessage">
  <documentation>Service definition of function ims__sendMessage</documentation>
  <input message="tns:sendMessageRequest"/>
  <output message="tns:sendMessageResponse"/>
 </operation>
 <operation name="receiveMessage">
  <documentation>Service definition of function ims__receiveMessage</documentation>
  <input message="tns:receiveMessageRequest"/>
  <output message="tns:receiveMessageResponse"/>
 </operation>
 <operation name="addUser">
  <documentation>Service definition of function ims__addUser</documentation>
  <input message="tns:addUserRequest"/>
  <output message="tns:addUserResponse"/>
 </operation>
 <operation name="userLogin">
  <documentation>Service definition of function ims__userLogin</documentation>
  <input message="tns:userLoginRequest"/>
  <output message="tns:userLoginResponse"/>
 </operation>
 <operation name="addFriend">
  <documentation>Service definition of function ims__addFriend</documentation>
  <input message="tns:addFriendRequest"/>
  <output message="tns:addFriendResponse"/>
 </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="sendMessage">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="receiveMessage">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="addUser">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="userLogin">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="addFriend">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="Service">
 <documentation>gSOAP 2.8.10 generated service definition</documentation>
 <port name="Service" binding="tns:Service">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
