practica1/ims.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
 targetNamespace="http://tempuri.org/ims.xsd/Service.wsdl"
 xmlns:tns="http://tempuri.org/ims.xsd/Service.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ims="http://tempuri.org/ims.xsd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://tempuri.org/ims.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ims="http://tempuri.org/ims.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="Message"><!-- Message -->

   <sequence>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- Message::name -->
     <element name="msg" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- Message::msg -->
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="sendMessage">
   <complexType>
    <sequence>
     <element name="myMessage" type="ims:Message" minOccurs="1" maxOccurs="1"/><!-- ims__sendMessage::myMessage -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="sendMessageResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__sendMessage::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="receiveMessage">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="receiveMessageResponse">
   <complexType>
    <sequence>
     <element name="myMessage" type="ims:Message" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ims__receiveMessage::myMessage -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="sendMessageRequest">
 <part name="parameters" element="ims:sendMessage"/><!-- ims__sendMessage::ims__sendMessage -->
</message>

<message name="sendMessageResponse">
 <part name="parameters" element="ims:sendMessageResponse"/>
</message>

<message name="receiveMessageRequest">
 <part name="parameters" element="ims:receiveMessage"/><!-- ims__receiveMessage::ims__receiveMessage -->
</message>

<message name="receiveMessageResponse">
 <part name="parameters" element="ims:receiveMessageResponse"/>
</message>

<portType name="ServicePortType">
 <operation name="sendMessage">
  <documentation>Service definition of function ims__sendMessage</documentation>
  <input message="tns:sendMessageRequest"/>
  <output message="tns:sendMessageResponse"/>
 </operation>
 <operation name="receiveMessage">
  <documentation>Service definition of function ims__receiveMessage</documentation>
  <input message="tns:receiveMessageRequest"/>
  <output message="tns:receiveMessageResponse"/>
 </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="sendMessage">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="receiveMessage">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="Service">
 <documentation>gSOAP 2.8.10 generated service definition</documentation>
 <port name="Service" binding="tns:Service">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
